/* 关于我们页面的样式 */

.about-us {
    padding: 40px 0;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.about-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.paragraph::first-letter {
    font-weight: bold;
    font-size: 1.5em;
    /* 可选：增加字体大小 */
    color: #000;
    /* 可选：设置字体颜色 */
}


.about-card h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.about-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.ant-divider {
    border-top-color: #e8e8e8;
    margin: 40px 0;
}